# Ignore Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.DS_Store

# Ignore virtual environments
.venv/
env/
venv/

# Ignore environment/secret files
.env
*.pem
*.key
*.crt

# Ignore Terraform state & secrets
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# Ignore logs
*.log

